@import "tailwindcss";

@variant dark (.dark &);

@layer base {
    :root {
        --menu-bg: white;
    }
    .dark {
        --menu-bg: #0f172a;
    }
    
    body {
        @apply antialiased overflow-x-hidden transition-colors duration-300;
    }
}

/*Scrollbar styling*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track{
   background: #e2e8f0;
}
.dark ::-webkit-scrollbar-track{
   background: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(16 185 129 / 0.2);
    @apply rounded-full transition;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(16 185 129 / 0.5);
}